.new {
  width: 100%;
  padding: 5px;
  background-color: #9E9E9E;
}

.homeComponent {
  width: 45%;
  height: 300px;
  margin: 5px;
  min-width: 310px;
}

.bodyHome {
  height: auto;
  width: 1300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  flex-direction: row;
}

.test {
  display: flex;
  justify-content: center;
  /* border: solid 1px green; */
}
