.bodyHome {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.gridHome {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 82%;
  border: solid 1px blue;
  justify-content: space-evenly;
  align-content: flex-start;
}
.new {
  padding: 5px;
  background-color: #9E9E9E;
}
.homeComponent {
  width: 520px;
  height: 200px;
}