.newsletter {
  display: flex;
  flex-direction: row;
  min-height: 60px;
  flex-wrap: wrap;
  height: auto 20px;
}
.newsletter .inputform {
  max-width: 800px;
  min-width: 170px;
  margin-right: 5px;
}
.newsletter .buttonform {
  margin: auto;
  margin-top: 10px;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.bodyNewsletter {
  height: auto;
  margin-top: 53px;
}