.bodyTarifs {
    height: auto;
    margin-top: 53px;
}

table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
}
th {
    color: black;
    background-color: #E0E0E0;
}
Panel {
    text-align: center;
}