#formulaire {
  width: 100vw;
  text-align: center;
  display: inline-block;
  margin-top: 53px;
}
#formulaire .inputform {
  display: inline-block;
  width: 300px;
  margin-bottom: 10px;
  height: 34px;
}
#formulaire .buttonform {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 34px;
}
#formulaire .buttonformimage {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 34px;
}

#selected {
  width: 100vw;
  text-align: center;
}
#selected .option {
  width: 300px;
  display: inline-block;
  text-align: center;
}

#multiButton {
  width: 100vw;
  text-align: center;
  display: inline-block;
  justify-content: space-between;    
}
#multiButton .button {
  margin-right: 5px;
  width: 100px;
  height: 46px;
  text-align: center;
  display: inline-block;
  justify-content: space-between;    
}

#grid {
  display: flex;
  flex-wrap: wrap;
}

.elementOfGrid {
  height: 200px;
  width: 300px;
  margin: 10px;
}
.elementOfGrid:hover {
  opacity: 0.6;
}