@font-face {
    font-family: 'Supreme';
    src: url('../police/supreme_bw90/SUPREME_BW90.ttf');
  }
  
.meteo {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    background-color: #424242;
}
.meteo .partie1 {
    height: 100%;
    width: 39%;
    color: #F5F5F5;
}
.meteo .partie2 {
    height: 100%;
    width: 60%;
    display: flex;
    float: right;
    flex-direction: column;
}
.meteo .partie2 .result {
    height: 30%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 3.5em;
    text-align: center;
    color: #F5F5F5;
    font-size: 1.5em;
    font-family: Supreme;
    letter-spacing: 3px;
}
.meteo .partie2 .result1 {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: Supreme;
    letter-spacing: 3px;
    justify-content: space-around;
}
.meteo .partie2 .result1 .result11 {
    height: 100%;
    width: 40%;
    line-height: 2;
    padding: 5px;
    text-align: center;
    background-color: #EEEEEE;
    font-family: Supreme;
    letter-spacing: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .50);
}
.wi {
    line-height: 2.5;
    font-size: 80px;
}
.wi-fw {
    text-align: center;
    width: 2.1em;
}